* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  
body {
  background-color: #353535;
  font-family: 'Raleway', sans-serif;
  max-width: 600px;
  width: 100%;
  text-align: center;
  padding: 2%;
  height: 100%;
}
ul,
li {
  list-style: none;
  display: flex;
}
.header__navbar {
  width: 100%;
  max-width: 100%;
  margin-bottom: 62px;
}
  
.header__navbar ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 32px;
}  
.header__navbar ul li a {
  color: white;
  transition: all ease 0.5s;
}  
.header__navbar ul li a:hover {
  cursor: pointer;
  opacity: 0.7;
  border-radius: 25px;
  display: flex;
  background-color: purple;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 115px;
}
.homepage{
  cursor: pointer;
  opacity: 0.7;
  border-radius: 25px;
  display: flex;
  background-color: blueviolet;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 115px;
}
.content-container {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 16px;
}

.content-container figure {
  background: #FBFCFF;
  border-radius: 500px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;
  gap: 16px;
}
.content-container figcaption{
  color: aqua;
}
@-webkit-keyframes my {
  0% { color: #F8CD0A;  } 
  50% { color: red;  }
  100% { color: aqua;  } 
} 
@-moz-keyframes my { 
  0% { color: #F8CD0A;  } 
  50% { color: red;  }
  100% { color: aqua;  } 
} 
@-o-keyframes my { 
  0% { color: #F8CD0A;  } 
  50% { color: red;  }
  100% { color: aqua;  } 
} 
@keyframes my { 
  0% { color: #F8CD0A;  } 
  50% { color: red;  }
  100% { color: aqua;  } 
} 
  
h1{
  font-size: 50px;
  font-style: italic;
  font-family:'Times New Roman', Times, serif;
  -webkit-animation: my 700ms infinite;
  -moz-animation: my 700ms infinite; 
  -o-animation: my 700ms infinite; 
  animation: my 700ms infinite;
}
  
  